body {
    background-color: black;
}

h1 {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(48, 2, 48);
    -webkit-text-stroke: 3px rebeccapurple;
    text-align: center;
}